{
    "rules": {
        "default-case": 1,
        "guard-for-in": 1,
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        "no-warning-comments": 2,
        "no-inline-comments": 2,
        "one-var": [2, "always"],
        "quotes": [2, "single"],
        "radix": 2,
        "semi": [2, "always"],
        "sort-vars": 2,
        "vars-on-top": 2,
        "wrap-iife": 2,
        "yoda": [2, "never"]
    },
    "env": {
        "node": true,
        "mocha": true
    }
}
