.DS_Store
._*
.\#*
\#*
TAGS
node_modules
notifier
production_logs
.nodemonignore
*.scpt
*.sqlite
*.log
*.tar.gz
.token
config*.json
!config-test.json
coverage
*.bak
migration-config.json
ansible/*.retry
ansible/inventory
ansible/vars.yml
.vscode
modules/**/*.js
app/scripts/**/*.js
notifier.js
build/public/*
!build/public/app-icon.png
!build/public/favicon.ico
!build/public/favicon.png
!build/public/robots.txt
!build/public/index.html
build/server
