.DS_Store
._*
.\#*
\#*
TAGS
node_modules
notifier
production_logs
public
.nodemonignore
*.scpt
*.sqlite
*.log
*.tar.gz
.token
config*.json
!config-test.json
coverage
*.bak
migration-config.json
ansible/*.retry
ansible/inventory
ansible/vars.yml
.vscode
