BODY {
    margin: 1em;
}

.panel {
    H1 {
        font-size: 2em;
    }

    FOOTER {
        text-align: right;
    }

    TIME {
        font-size: .8em;
        text-transform: uppercase;
    }
}