{
    "NOTIFIER_LOG": "notifier.log",
    "NOTIFIER_LOG_LEVEL": "warn",
    "NOTIFIER_ENVIRONMENT": "dev",
    "NOTIFIER_LIVERELOAD_HOST": "localhost",
    "NOTIFIER_LIVERELOAD_PORT": 35729,
    "NOTIFIER_SSL_KEY": "",
    "NOTIFIER_SSL_CERT": "",
    "NOTIFIER_HTTP_IP": "0.0.0.0",
    "NOTIFIER_HTTP_PORT": 8080,
    "NOTIFIER_WEBSOCKET_PORT": 8080,
    "NOTIFIER_FORCE_HTTPS": "false",
    "NOTIFIER_DEFAULT_USER": "notifier",
    "NOTIFIER_DEFAULT_PASSWORD": "notifier",
    "NOTIFIER_DB_BACKUP_DIR": "",
    "NOTIFIER_PUSHBULLET_CLIENT_ID": "",
    "NOTIFIER_PUSHBULLET_CLIENT_SECRET": "",
    "NOTIFIER_DB": "sqlite",
    "NOTIFIER_DB_CONFIG": {
        "mysql": {
            "sequelize": {
                "host": "localhost",
                "port": "3306",
                "dialect": "mysql"
            },
            "username": "username_for_mysql_database",
            "password": "password_for_mysql_database",
            "dbname": "name_of_mysql_database"
        },
        "sqlite": {
            "sequelize": {
                "storage": "notifier.sqlite",
                "dialect": "sqlite"
            },
            "username": "",
            "password": "",
            "dbname": "notifier.sqlite"
        }
    },
    "ONEDRIVE_AUTH_FILE": "",
    "ONEDRIVE_CLIENT_ID": "",
    "ONEDRIVE_CLIENT_SECRET": "",
    "ONEDRIVE_PATH": "",
    "ONEDRIVE_REDIRECT": "",
    "ONEDRIVE_RETAIN_DAYS": 3
}
