<p ng-if="messages.length == 0">No messages.</p>

<header id="page-header">
    <a ng-click="clearAll()" ng-if="messages.length > 0" ng-href="" class="button small radius">Clear All</a>
</header>

<div id="articles">
    <article class="panel" ng-repeat="message in messages">
        <h1 ng-show="message.title">
            <a ng-if="message.url" ng-href="{{ message.url }}" target="_blank">{{ message.title }}</a>
            <span ng-if="!message.url">{{ message.title }}</span>
        </h1>
        <p ng-show="message.body">{{ message.body }}</p>
        <footer>
            <time datetime="{{ message.received | date:'yyyy-MM-ddTHH:mmZ' }}">{{ message.received | date:"MMMM d @ h:mm a"}}</time>
        </footer>
    </article>
</div>
