<header class="clearfix">
    <div class="left">
        <p ng-if="queue.ready && queue.isEmpty()">
            No new messages since <span>{{ queue.asOf |  amCalendar }}</span>.
            <span ng-if="queue.asOf > 0"><a ng-click="showAll()" ng-href="">View all</a>.</span>
        </p>
    </div>

    <div class="right">
        <a ng-click="browserNotification.enable()" ng-href="" class="button" ng-show="browserNotification.supported && browserNotification.enabled == false">Enable Notifications</a>
        <a ng-click="clearAll()" ng-if="!queue.isEmpty()" ng-href="" class="button">Dismiss All</a>

        <a class="logout" href="" ng-if="isLoggedIn" ng-href="/logout">Log out</a>
        
    </div>
</header>
