<header class="clearfix">
    <div class="left" >
        {{ connectionStatus }}<span ng-if="queue.isEmpty()">. No messages since {{ queue.getAsOfDate() |  amCalendar }}.</span>
    </div>

    <div class="right">
        <a ng-click="browserNotification.enable()" ng-href="" class="button" ng-show="browserNotification.supported && browserNotification.enabled == false">Enable Notifications</a>
        <a ng-click="clearAll()" ng-if="!queue.isEmpty()" ng-href="" class="button">Clear All</a>

        <a ng-if="isLoggedIn" ng-href="/logout">Log out</a>

    </div>
</header>
