<!doctype html>
<html ng-app="App" class="no-js" lang="en">
    <head>
        <title ng-pluralize count="queue.length" when="{'0': 'Notifier', 'one': '1 Message', 'other': '{} Messages'}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="stylesheet" href="/all.min.css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <ng-view/>
        <script src="/all.js"></script>
    </body>
</html>
