<main class="flex-wrapper">
    <form id="login-form" name="loginForm" ng-submit="login()" class="onebox" novalidate>
        <fieldset>
            <h1>Hello</h1>
            <div class="field error" ng-show="message">{{ message }}</div>

            <div class="field">
                <label for="login_username">Username</label>
                <input type="text" id="login_username" name="login_username" ng-model="login.username" autofocus="autofocus" required />
            </div>

            <div class="field">
                <label for="login_password">Password</label>
                <input type="password" id="login_password" name="login_password" ng-model="login.password" required />
            </div>

            <div class="field">
                <button ng-disabled="login.$invalid">sign in</button>
            </div>
        </fieldset>
    </form>
</main>
