<main class="flex-wrapper">
    <form id="login" ng-submit="login()">
        <fieldset>
            <legend>Please Log In</legend>
            <p class="error" ng-show="message">{{ message }}</p>

            <div class="field">
                <label for="login_username">Username</label>
                <input type="text" id="login_username" name="login_username" ng-model="login.username" autofocus="autofocus"/>
            </div>

            <div class="field">
                <label for="login_password">Password</label>
                <input type="password" id="login_password" name="login_password" ng-model="login.password"/>
            </div>

            <div class="field">
                <input type="submit" value="Submit" />
            </div>
        </fieldset>
    </form>
</main>
