<div id="svgdef" class="hidden" ng-include="'/sprites.svg'"></div>

<ng-include src="'header.html'"></ng-include>

<main class="message-wrapper">
    <article class="message rounded" ng-repeat="item in queue.unread">
        <a ng-href="" ng-click="clearOne(item.id)" class="right">
            <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>

        <div class="badge {{ item.badge }}" ng-show="item.badge !== 'default'">

            <svg viewBox="0 0 32 32" class="icon" ng-show="item.badge == 'internal'">
                <use xlink:href="#icon-megaphone"></use>
            </svg>

            <svg viewBox="0 0 87.041 108.445" class="icon" ng-show="item.badge == 'debian'">
                <use xlink:href="#icon-debian"></use>
            </svg>

            <svg viewBox="0 0 32 32" class="icon" ng-show="item.badge == 'web'">
                <use xlink:href="#icon-earth"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon" ng-show="item.badge == 'email'">
                <use xlink:href="#icon-envelope"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon" ng-show="item.badge == 'reminder'">
                <use xlink:href="#icon-pushpin"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon" ng-show="item.badge == 'phone'">
                <use xlink:href="#icon-phone"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon" ng-show="item.badge == 'git'">
                <use xlink:href="#icon-github"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon" ng-show="item.badge == 'sysdown'">
                <use xlink:href="#icon-fire"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon" ng-show="item.badge == 'sysup'">
                <use xlink:href="#icon-cool"></use>
            </svg>

        </div>

        <div class="noarchive" ng-show="item.noarchive">Not archived</div>

        <h1 ng-show="item.title">
            <a ng-if="item.url" ng-href="{{ item.url }}" target="_blank">{{ item.title }}</a>
            <span ng-if="!item.url">{{ item.title }}</span>
        </h1>
        <time datetime="{{ item.received | date:'yyyy-MM-ddTHH:mmZ' }}" am-time-ago="item.received"></time>
        <p ng-show="item.body" ng-bind-html="item.body"></p>
    </article>
</main>
