<p ng-if="messages.length == 0">
    No new messages.
    <a ng-if="asOf > 0" ng-click="resetAsOf()" ng-href="">View all</a>
</p>

<header id="page-header">
    <a ng-click="clearAll()" ng-if="messages.length > 0" ng-href="" class="button small radius">Clear</a>
</header>

<div id="articles">
    <article ng-class="{panel: true, 'panel-with-icon': message.has_icon}" ng-repeat="message in messages">
        <div ng-class="['icon', iconClassForGroup(message.group) ]"></div>
        <h1 ng-show="message.title">
            <a ng-if="message.url" ng-href="{{ message.url }}" target="_blank">{{ message.title }}</a>
            <span ng-if="!message.url">{{ message.title }}</span>
        </h1>
        <time datetime="{{ message.received | date:'yyyy-MM-ddTHH:mmZ' }}">{{ message.received | date:"MMMM d @ h:mm a"}}</time>
        <p ng-show="message.body" ng-bind-html="message.body"></p>
    </article>
</div>
