@green: #2D8E5E;

.not-selectable {
    -webkit-touch-callout: none;
    user-select: none;
}

.svg-defs {
    display: none;
}

.reset {
    margin: 0;
    padding: 0;
}

.rounded {
    border-radius: 8px;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

HTML {
    @from: @green;
    @to: lighten(@from, 30%);
    @corner: top;
    height: 100%;
    background-color: @from;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to));
    background: linear-gradient(@corner, @from, @to);
}

BODY {
    font-family: 'Geneva', Arial, sans-serif;
    height: 100%;
}

.view {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.flex-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    box-pack: center;
    box-align: center;
    flex-align: center;
    align-items: center;
    justify-content: center;
}

A {
    color: @green;
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
    cursor: pointer;
}

.box-reset {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

HEADER {
    color: white;
    font-size: .7em;
    letter-spacing: 1px;
    white-space: nowrap;
    padding: 1em;

    .state {
        text-transform: uppercase;
        border-radius: 1em;
        padding: .5em 1em;
        display: inline-block;
        margin-right: 1em;
    }

    .connected {
        background-color: green;
    }

    .disconnected {
        background-color: #666;
        color: #ccc;
    }

    NAV {
        text-align: center;
    }

    NAV A {
        color: white;
        text-transform: uppercase;
        display: inline-block;
        line-height: 2.5;
        padding: 0 1em;
    }

    NAV A:hover, NAV .active {
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, .3);
        color: black;
        text-decoration: none;
    }

}

MAIN {
    flex: 1;
}

FOOTER {
    font-size: .85em;

    NAV {
        background-color: @green;
        display: inline-block;
        width: 100%;

        A {
            color: white;
            display: inline-block;
            line-height: 1;
            padding: 1em;
        }

        A:last-of-type {
            position: absolute;
            right: 0;
        }
    }

    .app-settings {
        .reset;
        background-color: lighten(@green, 5%);
        clear: both;
        color: black;

        A {
            color: white;
        }

        LI {
            margin: 0;
            display: inline-block;
            padding: 1em;
        }
    }
}

.message.extended {
    padding-right: 8em;
}

.message {
    background-color: rgb(255, 255, 255);
    margin-bottom: .5em;
    overflow: hidden;
    position: relative;
    padding: 1em 6em 1em 1em;

    .options {
        position: absolute;
        top: 0;
        right: 0;
        height: 101%; /* if 100%, Chrome leaves a 1px gap at bottom */
        width: 8em;

        A {
            height: 100%;
            background-color: #666;
            color: white;
            float: right;
            font-size: .75em;
            text-transform: uppercase;
            margin-left: .25em;
            padding: 0 1.5em;
            display: table;

            SPAN {
                display: table-cell;
                vertical-align: middle;
            }

            .icon {
                width: 2em;
                height: 2em;
                fill: white;
            }

        }

        A:hover {
            background-color: darken(#666, 10%);
            text-decoration: none;
        }
    }

    H1 {
        font-size: 1.1em;
        font-weight: bold;
        .box-reset;

        .icon {
            width: 1em;
            height: 1em;
            display: inline-block;
            margin-bottom: -0.15em;
            fill: @green;
        }
    }

    P {
        .box-reset;
        line-height: 1.4;
    }

    TIME {
        font-size: .7em;
        display: block;
        margin-bottom: 1em;
    }

    .right {
        margin-right: -.5em;
        margin-top: -.5em;
    }
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5em;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    display: none;
}

.onebox {
    background-color: white;
    min-width: 25em;
    .rounded;
    padding: 1em;
    text-align: center;

    P {
        padding: 0;
        margin: 1em 0;
    }

    H1 {
        .reset;
        line-height: 1;
        font-size: 2em;
        margin-bottom: 1em;
    }

    BUTTON {
        padding: .5em 1em;
        border: 0;
        background-color: #2D8E5E;
        color: white;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: .85em;
    }

    BUTTON:hover {
        background-color: lighten(@green, 5%);
    }
}

.disabled {
    background-color: darken(@green, 10%);
}


.login-form {
    .field {
        margin-bottom: 1.5em;
    }

    .error {
        background-color: salmon;
        color: white;
        padding: 1em;
        margin-top: -1em;
        margin-left: -1em;
        margin-right: -1em;
    }

    .field:last-of-type {
        margin-bottom: 0;
    }

    FIELDSET {
        border: none;
    }

    LABEL {
        display: inline-block;
        vertical-align: bottom;
        min-width: 6em;
    }

    LABEL:after {
        content: ": ";
    }

    .inline-label:after {
        content: none;
    }

    INPUT[type=text], INPUT[type=password] {
        border: 0;
        border-bottom: 1px solid black;
        font-family: monospace;
        width: 15em;
        font-size: 1.3em;
        border-radius: 0;
    }
}

.app-message {
    position: absolute;
    top: 6em;
    text-align: center;
    color: white;
    font-size: 2em;
    width: 100%;
}

.fade-in.ng-enter, .fade-in.ng-leave {
    transition: all linear 0.25s;
}

.fade-in.ng-enter,
.fade-in.ng-leave.ng-leave-active {
    opacity: 1;
}

.fade-in.ng-leave,
.fade-in.ng-enter.ng-enter-active {
    opacity: 0;
}

.fade-out.ng-enter, .fade-out.ng-leave {
    transition: all linear 0.25s;
}

.fade-out.ng-enter,
.fade-out.ng-leave.ng-leave-active {
    opacity: 0;
}

.fade-out.ng-leave,
.fade-out.ng-enter.ng-enter-active {
    opacity: 1;
}