.badge-width {
    padding-left: 6em;
}

.message.email {
    .badge-width;
    background-color: rgb(56,101,120);
    color: white;
    .badge {
        display: block;
        background-image: data-uri('../svg/envelope.svg');
    }

    H1 A, .icon {
        color: white;
        fill: white;
    }

}

.message.openshift {
    .badge-width;

    .badge {
        display: block;
        background-color: transparent;
        background-image: data-uri('../svg/openshift.svg');
        background-size: 100%;
    }
}

.message.phone {
    .badge-width;

    background-color: rgb(253, 255, 196);

    .badge {
        display: block;
        background-image: data-uri('../svg/phone.svg');
    }

    H1 A, .icon {
        color: black;
        fill: black;
    }
}

.message.web {
    .badge-width;

    background-color: rgb(95,67,64);
    color: white;

    .badge {
        display: block;
        background-image: data-uri('../svg/earth.svg');
    }

    H1 A, .icon {
        color: white;
        fill: white;
    }
}

.message.reminder {
    .badge-width;

    background-color: rgb(224,205,178);

    .badge {
        display: block;
        background-image: data-uri('../svg/pushpin.svg');
    }

    H1 A, .icon {
        color: black;
        fill: black;
    }

}

.message.sysdown {
    .badge-width;

    .badge {
        display: block;
        background-color: rgb(209,0,15);
        background-image: data-uri('../svg/fire.svg');
    }
}

.message.sysup {
    .badge-width;

    .badge {
        display: block;
        background-color: rgb(135, 227, 243);
        background-image: data-uri('../svg/cool.svg');
    }
}

.message.git {
    .badge-width;

    .badge {
        display: block;
        background-color: #787773;
        background-image: data-uri('../svg/github.svg');
    }
}

.message.debian {
    .badge-width;

    .badge {
        display: block;
        background-color: transparent;
        background-image: data-uri('../svg/debian.svg');
    }
}

.message.azure {
    .badge-width;

    background-color: #16aaea;
    color: white;

    .badge {
        display: block;
        background-image: data-uri('../svg/azure-web.svg');
    }

    H1 A, .icon {
        color: white;
        fill: white;
    }

}
