.dark-bg {
    color: white;

    H1 A, .icon {
        color: white;
        fill: white;
    }
}


.message.email {
    .dark-bg;

    background-color: rgb(56,101,120);

    .badge {
        background-image: data-uri('../svg/mail.svg');
    }
}

.message.openshift {
    .badge {
        background-color: transparent;
        background-image: data-uri('../svg/openshift.svg');
        background-size: 100%;
    }
}

.message.phone {
    background-color: rgb(253, 255, 196);

    .badge {
        background-image: data-uri('../svg/phone-outline.svg');
    }
}

.message.web {
    .dark-bg;

    background-color: rgb(95,67,64);

    .badge {
        background-image: data-uri('../svg/globe-outline.svg');
    }
}

.message.reminder {
    background-color: #e5e5e5;

    .badge {
        background-image: data-uri('../svg/pin-outline.svg');
    }
}

.message.calendar {
    background-color: Cornsilk;

    .badge {
        background-image: data-uri('../svg/calendar-outline.svg');
    }
}

.message.sysdown {
    .dark-bg;
    background-color: #ef4747;

    .badge {
        background-image: data-uri('../svg/weather-stormy.svg');
    }
}

.message.sysup {
    background-color: rgb(135, 227, 243);
    .badge {
        background-image: data-uri('../svg/thumbs-ok.svg');
    }
}

.message.git {
    background-color: #D1F4F8;

    .badge {
        background-image: data-uri('../svg/social-github.svg');
    }
}

.message.debian {
    .badge {
        background-color: transparent;
        background-image: data-uri('../svg/debian.svg');
    }
}

.message.azure {
    .dark-bg;

    background-color: #16aaea;

    .badge {
        background-image: data-uri('../svg/azure-web.svg');
    }
}
