.flex-parent.centered {
    display: flex;
    box-pack: center;
    box-align: center;
    flex-align: center;
    align-items: center;
    justify-content: center;
}


.flex-parent.stacked {
    display: flex;
    flex-direction: column;
    min-height: 98vh;

    .grow {
        flex-grow: 1;
    }
}
