@media only screen and (min-width: 1024px) {
    .columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .message {
            flex: 49.75% 0;
            box-sizing: border-box;
        }
    }
}

@media only screen and (min-width: 320px) and (max-device-width : 1024px) {
    .page-header NAV {
        text-align: right;
    }

    .badge {
        width: 4em;
    }

    .message {
        padding-left: 4em;
    }

    .message:hover .options {
        display: none;
    }

    .message.extended, .message.extended:hover {
        margin-left: -2.25em;

        .options {
            display: block;
        }
    }


}

@media only screen and (min-width: 320px) and (max-device-width : 1024px) and (orientation: landscape) {
    .app-message {
        top: 1em;
    }

    .message {
        padding-right: 0;
    }

    .message.extended, .message.extended:hover {
        margin-left: 0;
    }

}

@media only screen and (min-width: 320px) and (max-device-width : 568px)  and (orientation: portrait) {
    .app-message {
        top: 2em;
    }

    .message {
        padding-right: 1em;
    }

    FORM[name='loginForm'] {
        LABEL {
            margin-bottom: 0.25em;
        }

        INPUT[type='text'], INPUT[type='password'] {
            display: block;
        }
    }
}
