@green: #2D8E5E;


.reset {
    margin: 0;
    padding: 0;
}

.rounded {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

HTML {
    @from: @green;
    @to: lighten(@from, 30%);
    @corner: top;
    height: 100%;
    background-color: @from;
    background: -webkit-linear-gradient(@corner, @from, @to);
    background: -moz-linear-gradient(@corner, @from, @to);
    background: -ms-linear-gradient(@corner, @from, @to);
    background: -o-linear-gradient(@corner, @from, @to);
}

BODY {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#view {
    height: 100%;
}


.flex-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

A {
    color: @green;
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
    cursor: pointer;
}

.box-reset {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

HEADER {
    color: white;
    font-size: .75em;
    letter-spacing: 1px;
    padding: .75em;
    white-space: nowrap;

    .state {
        font-size: .75em;
        text-transform: uppercase;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        border-radius: 1em;
        padding: .5em 1em;
        margin-right: 1em;
    }

    .state.connected {
        background-color: green;
    }

    .state.disconnected {
        background-color: #666;
        color: #ccc;
    }

    A {
        color: white;
    }

    .right A {
        padding: .75em;
        text-transform: uppercase;
    }

    .right A:hover {
        background-color: rgba(255, 255, 255, .3);
        color: black;
        text-decoration: none;
    }
}

.message.extended {
    padding-right: 8em;
}

.message {
    background-color: rgba(255, 255, 255, .85);
    margin-top: .5em;
    overflow: hidden;
    position: relative;
    padding: 1em 6em 1em 1em;

    .options {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 8em;

        A {
            height: 100%;
            background-color: #666;
            color: white;
            float: right;
            font-size: .75em;
            text-transform: uppercase;
            margin-left: .25em;
            padding: 0 1.5em;
            display: table;

            SPAN {
                display: table-cell;
                vertical-align: middle;
            }

        }
        A:hover {
            background-color: darken(#666, 10%);
            text-decoration: none;
        }
    }

    H1 {
        font-size: 1.25em;
        font-weight: bold;
        .box-reset;
    }

    P {
        .box-reset;
    }

    TIME {
        font-size: .8em;
        line-height: 2.5;
    }

    .right {
        margin-right: -.5em;
        margin-top: -.5em;
    }

    .badge {
        width: 5em;
        height: 6em;
        float: left;
        margin: -0.5em 1em -0.5em -0.5em;
        text-align: center;
        line-height: 7.5;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60%;
    }

    .badge.email {
        background-color: rgb(56,101,120);
        background-image: data-uri('../svg/envelope.svg');
    }


    .badge.phone {
        background-color: rgb(234,176,94);
        background-image: data-uri('../svg/phone.svg');
    }

    .badge.web {
        background-color: rgb(95,67,64);
        background-image: data-uri('../svg/earth.svg');
    }

    .badge.reminder {
        background-color: rgb(204,189,166);
        background-image: data-uri('../svg/pushpin.svg');
    }

    .badge.sysdown {
        background-color: rgb(209,0,15);
        background-image: data-uri('../svg/fire.svg');
    }

    .badge.sysup {
        background-color: rgb(135, 227, 243);
        background-image: data-uri('../svg/cool.svg');
    }

    .badge.git {
        background-color: #787773;
        background-image: data-uri('../svg/github.svg');
    }

    .badge.debian {
        background-color: transparent;
        background-image: data-uri('../svg/debian.svg');
    }

}

.onebox {
    background-color: white;
    min-width: 25em;
    .rounded;
    padding: 1em;
    text-align: center;

    P {
        .reset;
        margin: 1em 0;
    }

    H1 {
        .reset;
        line-height: 1;
        font-size: 2em;
        margin-bottom: 1em;
    }

    BUTTON {
        font-size: 1em;
        padding: .5em 1em;
        border: 0;
        background-color: #2D8E5E;
        color: white;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 11px;
    }

    BUTTON:hover {
        background-color: lighten(@green, 5%);
    }

}

#login-form {
    .field {
        margin-bottom: 1.5em;
    }

    .error {
        background-color: salmon;
        color: white;
        padding: 1em;
        margin-top: -1em;
        margin-left: -1em;
        margin-right: -1em;
    }

    .field:last-of-type {
        margin-bottom: 0;
    }

    FIELDSET {
        border: none;
    }

    LABEL {
        display: inline-block;
        vertical-align: bottom;
        min-width: 6em;
    }

    LABEL:after {
        content: ": ";
    }

    INPUT[type=text], INPUT[type=password] {
        border: 0;
        border-bottom: 1px solid black;
        font-family: monospace;
        width: 15em;
        font-size: 1.3em;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
}

#no-messages {
    margin-top: 6em;
    text-align: center;
    color: white;
    font-size: 2em;
}