@green: #2D8E5E;


.reset {
    margin: 0;
    padding: 0;
}

.rounded {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

HTML {
    @from: @green;
    @to: lighten(@from, 30%);
    @corner: top;
    height: 100%;
    background-color: @from;
    background: -webkit-linear-gradient(@corner, @from, @to);
    background: -moz-linear-gradient(@corner, @from, @to);
    background: -ms-linear-gradient(@corner, @from, @to);
    background: -o-linear-gradient(@corner, @from, @to);
}

BODY {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

MAIN.message-wrapper {
    margin: 0 1em;
}

MAIN.flex-wrapper {
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
}

A {
    color: #65809D;
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
    cursor: pointer;
}

.box-reset {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

#connection-status:after {
    content: ". ";
}

HEADER {
    margin-bottom: 1em;
    background-color: #666;
    background-color: #28572B;
    color: white;
    line-height: 3em;
    font-size: .75em;
    letter-spacing: 1px;
    padding: 0 1.5em;

    A {
        color: white;
        text-decoration: underline;
    }

    P {
        .box-reset;
        line-height: 2;
    }

    .right A {
        margin-left: 1.5em;
        text-transform: uppercase;
        display: inline-block;
        color: white;
        text-decoration: none;
    }
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.message {
    background-color: white;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;
    padding: 1em;

    H1 {
        font-size: 1.25em;
        font-weight: bold;
        .box-reset;
    }

    P {
        .box-reset;
    }

    TIME {
        font-size: .8em;
        line-height: 2.5;
    }

    .noarchive {
        color: white;
        background-color: #666;
        color: #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transform-origin: top left;
        -webkit-transform-origin: top left;
        position: absolute;
        padding: .5em 5em;
        text-align: center;
        text-transform: uppercase;
        font-size: .5em;
        letter-spacing: 1px;
        right: -8em;
        top: -2em;
    }

    .right {
        margin-right: -.5em;
        margin-top: -.5em;
    }

    .badge {
        width: 5em;
        height: 6em;
        float: left;
        margin: -0.5em 1em -0.5em -0.5em;
        text-align: center;
        line-height: 7.5;

        .icon {
            height: 2.5em;
            width: 2.5em;
        }
    }

    .badge.email {
        background-color: rgb(56,101,120);
    }


    .badge.phone {
        background-color: rgb(234,176,94);
    }

    .badge.web {
        background-color: rgb(95,67,64);
    }

    .badge.reminder {
        background-color: rgb(204,189,166);
    }

    .badge.sysdown {
        background-color: rgb(209,0,15);
    }

    .badge.sysup {
        background-color: rgb(135, 227, 243);
    }

    .badge.git {
        background-color: #787773;
    }

    .badge.debian {
        background-color: transparent;
    }

}

.onebox {
    margin: auto;
    background-color: white;
    min-width: 25em;
    .rounded;
    padding: 1em;
    text-align: center;

    P {
        .reset;
        margin: 1em 0;
    }

    H1 {
        .reset;
        line-height: 1;
        font-size: 2em;
    }

    BUTTON {
        font-size: 1em;
        padding: .5em 1em;
        border: 0;
        background-color: #2D8E5E;
        color: white;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 11px;
    }

    BUTTON:hover {
        background-color: lighten(@green, 5%);
    }

}

#login-form {
    .field {
        margin-bottom: 1.5em;
    }

    .error {
        background-color: salmon;
        color: white;
        padding: 1em;
        margin-top: -1em;
        margin-left: -1em;
        margin-right: -1em;
    }

    .field:last-of-type {
        margin-bottom: 0;
    }

    FIELDSET {
        border: none;
    }

    LEGEND {
        .reset;
        font-size: 2em;
        margin-bottom: .5em;
        font-weight: bold;
    }

    LABEL {
        display: inline-block;
        vertical-align: bottom;
        min-width: 6em;
    }

    LABEL:after {
        content: ": ";
    }

    INPUT[type=text], INPUT[type=password] {
        border: 0;
        border-bottom: 1px solid black;
        font-family: monospace;
        width: 15em;
        font-size: 1.3em;
    }
}