.badge.email {
    display: block;
    background-color: rgb(56,101,120);
    background-image: data-uri('../svg/envelope.svg');
}

.badge.openshift {
    display: block;
    background-color: transparent;
    background-image: data-uri('../svg/openshift.svg');
    background-size: 100%;
}

.badge.phone {
    display: block;
    background-color: rgb(234,176,94);
    background-image: data-uri('../svg/phone.svg');
}

.badge.web {
    display: block;
    background-color: rgb(95,67,64);
    background-image: data-uri('../svg/earth.svg');
}

.badge.reminder {
    display: block;
    background-color: rgb(204,189,166);
    background-image: data-uri('../svg/pushpin.svg');
}

.badge.sysdown {
    display: block;
    background-color: rgb(209,0,15);
    background-image: data-uri('../svg/fire.svg');
}

.badge.sysup {
    display: block;
    background-color: rgb(135, 227, 243);
    background-image: data-uri('../svg/cool.svg');
}

.badge.git {
    display: block;
    background-color: #787773;
    background-image: data-uri('../svg/github.svg');
}

.badge.debian {
    display: block;
    background-color: transparent;
    background-image: data-uri('../svg/debian.svg');
}

.badge.azure {
    display: block;
    background-color: #16aaea;
    background-image: data-uri('../svg/azure-web.svg');
}
