{
    "defaultUsers": [
        {
            "username": "guest",
            "password": "notifier"
        }
    ],

    "livereload": 35729,

    "ssl": {
        "enabled": 0,
        "key": "",
        "cert": ""
    },

    "http": {
        "port": 8080
    },

    "git": {
        "http://example.com/foo.git": "/local/path/to/foo/checkout"
    },

    "deployment": {
        "production": {
            "host" : "example.com",
            "path": "/var/www/"
        }
    }

}
