[Unit]
Description=Notifier
Wants=postgresql.service
After=postgresql.service
After=network.target

[Service]
Type=notify
NotifyAccess=all
DynamicUser=true
WorkingDirectory={{ installation_directory }}
ExecStart={{ nodejs_path }} server.js
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
