{
  "NOTIFIER_BASE_URL": "/notifier/",
  "NOTIFIER_DB": "/var/notifier/notifier.sqlite",
  "NOTIFIER_ACCESS_LOG": "/var/log/notifier/access.log",
  "NOTIFIER_HTTP_IP": "0.0.0.0",
  "NOTIFIER_DEFAULT_USER": "{{ default_user }}",
  "NOTIFIER_DEFAULT_PASSWORD": "{{ default_password }}",
}
