{
  "NOTIFIER_DB": "/var/notifier/notifier.sqlite",
  "NOTIFIER_LOG_QUERIES": 0,
  "NOTIFIER_ACCESS_LOG": "/var/log/notifier/access.log",
  "NOTIFIER_HTTP_IP": "0.0.0.0",
  "NOTIFIER_DEFAULT_USER": "{{ default_user }}",
  "NOTIFIER_DEFAULT_PASSWORD": "{{ default_password }}",
  "NOTIFIER_PUSHBULLET_CLIENT_ID": "{{ pushbullet_client_id }}",
  "NOTIFIER_PUSHBULLET_CLIENT_SECRET": "{{ pushbullet_client_secret }}"
}
