@import "breakpoints.less";

@palettePrimary: #006ba6; // Manually sync this value with the theme-color meta tag in index.html.

body {
    margin: 0;
}

fieldset {
    border: 0;
}

html {
    margin: 0;
    background-color: @palettePrimary;
    color: #fff;
    font-family: 'Geneva', Arial, sans-serif;
}

h1 {
    font-size: 1em;
    margin-bottom: 2em;
}

input {
    font-family: monospace;
    font-size: 1.3em;
    border-radius: 0;
    padding: 0.25em;
}

noscript {
    margin: auto;
    text-align: center;
}

#app-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#logout {
    margin: auto;
    text-align: center;
}

#login {
    margin: auto;

    .field:last-of-type {
        margin-bottom: 0;
    }

    button {
        display: block;
        margin: auto;
    }

    label {
        display: inline-block;
        min-width: 6em;
    }
}

#messages {
    display: grid;
    grid-row-gap: 0.5em;

    .breakpoint-desktop({
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.5em;
    });
}

#messageListEmptyBody {
    margin: auto;
    text-align: center;
    font-size: 1.5em;

    .icon {
        display: inline-block;
        width: 40vw;
        height: 20vh;
        background: transparent url('svg/waves.svg') no-repeat center;
        background-size: contain;
    }
}

#messageListSummary {
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    padding: 1em;

    &.offline {
        background-color: #333;
    }
}

#messageListFooter {
    font-size: 0.85em;
    display: flex;
    flex-flow: row nowrap;

    a {
        color: currentColor;
        display: inline-block;
        margin: 1em;

        &:last-of-type {
            margin-left: auto;
        }
    }

    ul {
        list-style-type: none;
        clear: both;
        color: black;

        li {
            margin: 0;
            display: inline-block;
        }
    }
}

#settings {
    margin: auto;
    color: #fff;

    a {
        color: currentColor;
        text-decoration: underline;
    }

    button + a {
        margin-left: 2em;
    }

    span + a {
        margin-left: 1em;
    }

    label {
        padding-right: 1em;
        text-transform: capitalize;
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    .field {
        margin-bottom: 3em;
    }

    p {
        font-size: 0.85em;
        line-height: 1.5;
    }
}

a {
    color: @palettePrimary;
    text-decoration: none;
}

button {
    padding: 0.5em 1em;
    border: 0;
    background-color: darken(@palettePrimary, 10%);
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.85em;

    &:hover {
        background-color: darken(@palettePrimary, 20%);
    }

    &:disabled {
        background-color: darken(@palettePrimary, 50%);
    }
}

.field {
    margin-bottom: 1.5em;
}

.shortcuts {
    padding-top: 0.5em;
    font-size: 0.75em;
    text-align: right;
}

.status-message {
    margin-bottom: 1.5em;
    padding: 1em;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;

    &.error {
        background-color: #e9190f;
        color: white;
    }

    &.success {
        background-color: green;
        color: white;
    }
}

@import "shortcuts.less";
@import "message.less";
@import "badges.less";
