@import (inline) "../../node_modules/normalize.css/normalize.css";

@palettePrimary: #006ba6; // Manually sync this value with the theme-color meta tag in index.ejs.

fieldset {
    border: 0;
}

html {
    background-color: @palettePrimary;
    color: #fff;
    font-family: 'Geneva', Arial, sans-serif;
}

h1 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 2em;
}

#app-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    // &.stacked {
    //     justify-content: flex-start;
    //     flex-direction: column;
    //     align-items: stretch;
    // }

    // .growable {
    //     flex: 1 0 auto;
    // }
}

#logout {
    margin: auto;
    text-align: center;
}

#login {
    margin: auto;

    .field:last-of-type {
        margin-bottom: 0;
    }

    button {
        display: block;
        margin: auto;
    }

    label {
        display: inline-block;
        min-width: 6em;
    }

    input[type='text'],
    input[type='password'] {
        font-family: monospace;
        font-size: 1.3em;
        border-radius: 0;
        padding: 0.25em;
    }
}

#messageListSummary {
    background-color: purple;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    padding: 1em;
}

#messageListFooter {
    font-size: 0.85em;
    background-color: lighten(@palettePrimary, 10%);
    display: flex;
    flex-flow: row nowrap;

    a {
        color: currentColor;
        display: inline-block;
        margin: 1em;

        &:last-of-type {
            margin-left: auto;
        }
    }

    ul {
        list-style-type: none;

        clear: both;
        color: black;

        li {
            margin: 0;
            display: inline-block;
        }
    }
}

a {
    color: @palettePrimary;
    text-decoration: none;
}

button {
    padding: 0.5em 1em;
    border: 0;
    background-color: darken(@palettePrimary, 10%);
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.85em;

    &:hover {
        background-color: darken(@palettePrimary, 20%);
    }

    &:disabled {
        background-color: darken(@palettePrimary, 50%);
    }
}

#settings {
    margin: auto;
    color: #fff;

    a {
        color: currentColor;
        text-decoration: underline;
    }

    span + a {
        margin-left: 1em;
    }

    label  {
        padding-right: 1em;
        text-transform: capitalize;
    }

    .field {
        margin-bottom: 3em;
    }

    p {
        font-size: .85em;
        line-height: 1.5;
    }

}

.field {
    margin-bottom: 1.5em;
}

.message {
    margin-bottom: 1.5em;
    padding: 1em;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;

    &.error {
        background-color: #e9190f;
        color: white;
    }

    &.success {
        background-color: green;
        color: white;
    }
}


// .page-jacket {
//     &.disconnected {
//         background-color: #333;

//         nav {
//             visibility: hidden;
//         }
//     }

//     nav {
//         visibility: visible;
//         background-color: @palettePrimary;
//     }
// }

// a:hover {
//     text-decoration: underline;
//     cursor: pointer;
// }

// .message {
//     min-height: 6em;
//     box-sizing: border-box;
//     border: 0.25em solid transparent;
//     background-color: rgb(255, 255, 255);
//     margin-bottom: 0.5em;
//     overflow: hidden;
//     position: relative;
//     padding: 0.5em 6em;
//     display: block;
//     color: black;
//     break-inside: avoid;
//     page-break-inside: avoid;
//     vertical-align: top;
//     line-height: 1.5;

//     &:hover {
//         cursor: default;
//         text-decoration: none;
//     }

//     &.extended {
//         padding-right: 8em;
//     }

//     &.stuck {
//         opacity: 0.3;

//         .options {
//             display: none;
//         }
//     }

//     &.linked:hover {
//         cursor: pointer;
//     }

//     .index {
//         position: absolute;
//         top: 0;
//         right: 0;
//         font-size: 0.5em;
//         padding: 0.5em 0.75em;
//     }

//     .options {
//         position: absolute;
//         top: 0;
//         right: 0;
//         height: 101%;
//         width: 8em;
//         display: none;
//         transition: opacity 0.1s 0.2s;

//         a {
//             height: 100%;
//             float: right;
//             font-size: 0.75em;
//             text-transform: uppercase;
//             margin-left: 0.25em;
//             padding: 0 1.5em;
//             display: table;

//             span {
//                 display: table-cell;
//                 vertical-align: middle;
//             }

//             .icon {
//                 width: 4em;
//                 height: 4em;
//                 fill: black;
//             }
//         }
//     }

//     h1 {
//         color: inherit;
//         font-size: 1.1em;
//         font-weight: bold;
//         margin: 0;
//         padding: 0;

//         a {
//             color: black;
//         }
//     }

//     p {
//         margin: 0;
//         padding: 0;
//     }

//     time {
//         font-size: 0.7em;
//         display: block;
//     }

//     .domain,
//     .expiration {
//         font-size: 0.7em;
//     }

//     .expiration {
//         font-style: italic;
//     }

//     .right {
//         margin-right: -0.5em;
//         margin-top: -0.5em;
//     }
// }

// .message:hover .options {
//     display: block;
// }

// .message.expired {
//     background-color: #ccc;
//     color: #666;
// }

// .message.focused,
// .message:focus {
//     outline: 0;

//     .options {
//         opacity: 1;
//     }

//     .index {
//         background-color: black;
//         color: #fff;
//     }
// }

// h1 {
//     font-size: 2em;
//     margin-bottom: 1em;
// }

// p {
//     padding: 0;
//     margin: 1em 0;
// }


// .app-message {
//     text-align: center;
//     color: white;
//     font-size: 2em;
// }

// .shortcut-summary {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;

//     .background {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: darken(@palettePrimary, 15%);
//     }

//     .foreground {
//         position: absolute;
//         color: white;
//         top: 0;
//         left: 0;
//         width: 100%;
//         text-align: center;
//     }

//     table {
//         margin: auto;
//     }

//     td {
//         text-align: left;
//         padding: 0.5em;
//     }

//     kbd {
//         display: inline-block;
//         color: #fff;
//         background-color: #333;
//         border-radius: 5px;
//         border: 2px ridge white;
//         text-align: center;
//         padding: 0.75em 1.25em;
//     }
// }
