.message {
    min-height: 6em;
    box-sizing: border-box;
    border: 0.25em solid transparent;
    background-color: white;
    overflow: hidden;
    position: relative;
    padding: 0.5em 6em;
    display: block;
    color: black;
    break-inside: avoid;
    page-break-inside: avoid;
    vertical-align: top;
    line-height: 1.5;
    touch-action: none;

    &:hover .options {
        display: block;
    }

    &.extended {
        margin-left: -4em;

        .options {
            display: block;
        }
    }

    &.stuck {
        opacity: 0.1;

        .options {
            display: none;
        }
    }

    .index {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.5em;
        padding: 0.5em 0.75em;
    }

    .options {
        position: absolute;
        top: 0;
        right: 0;
        height: 101%;
        width: 8em;
        display: none;
        transition: opacity 0.1s 0.2s;

        a {
            height: 100%;
            float: right;
            font-size: 0.75em;
            text-transform: uppercase;
            margin-left: 0.25em;
            padding: 0 1.5em;
            display: table;

            span {
                display: table-cell;
                vertical-align: middle;
            }

            .icon {
                width: 4em;
                height: 4em;
                fill: black;
            }
        }
    }

    h1 {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
        padding: 0;

        a {
            color: black;
        }
    }

    p {
        margin: 0;
        padding: 0;
    }

    time {
        font-size: 0.7em;
        display: block;
    }

    .domain,
    .expiration {
        font-size: 0.7em;
    }

    .expiration {
        font-style: italic;
    }

    .right {
        margin-right: -0.5em;
        margin-top: -0.5em;
    }
}

.message.expired {
    background-color: #ccc;
    color: #666;
}

.message.selected,
.message:focus {
    outline: 0;

    .options {
        opacity: 1;
    }

    .index {
        background-color: black;
        color: #fff;
    }
}
