.message {
    display: grid;
    grid-template-columns: 3.5em 1fr auto auto;
    align-items: center;
    background-color: white;
    color: black;
    break-inside: avoid;
    page-break-inside: avoid;
    vertical-align: top;
    min-height: 5em;

    &.offline {
        .index {
            display: none;
        }
    }

    &.linked:hover {
        cursor: pointer;
    }

    div.badge {
        background: transparent url('../svg/sticky-note-regular.svg') no-repeat center;
        background-size: 70%;
        width: 100%;
        height: 100%;
    }

    img.badge {
        width: 80%;
        display: block;
        margin: auto;
    }

    .details {
        padding: 0.5em;
    }

    .index {
        font-size: 0.75em;
        text-align: center;
        width: 2em;
        line-height: 2em;
        align-self: start;
        margin-top: 0.3em;
    }

    .closer {
        margin: 0.25em;
        align-self: start;

        svg {
            width: 0.75em;
            height: 0.75em;
            padding: 0.25em;
            fill: none;
            stroke: black;
            stroke-width: 1.5em;
            border: 3px solid black;
        }

        @media (pointer: fine) {
            &:hover svg {
                stroke: white;
                background-color: black;
            }
        }
    }

    .title {
        font-size: 1.1em;
        font-weight: bold;
    }

    time {
        font-size: 0.7em;
        display: block;
    }

    .domain,
    .expiration {
        font-size: 0.7em;
    }
}

.message.expired {
    background-color: #ccc;
    color: #666;
}

.message.selected .index {
    background-color: black;
    color: #fff;
}
