.message {
    outline: 0;
    box-sizing: border-box;
    border: 0.25em solid transparent;
    background-color: white;
    overflow: hidden;
    position: relative;
    padding: 0.75em 3.5em 0.75em 4em;
    display: block;
    color: black;
    break-inside: avoid;
    page-break-inside: avoid;
    vertical-align: top;
    line-height: 1.5;

    &.online {
        &.stuck {
            opacity: 0.1;
        }
    }

    &.offline {
        .index {
            display: none;
        }
    }

    .index {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.5em;
        padding: 0.5em 0.75em;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        transition: opacity 0.1s 0.2s;
        outline: 0;

        span {
            display: block;
            background: transparent url(../svg/close.svg) no-repeat center;
            background-size: contain;
            width: 3em;
            height: 100%;
            fill: black;
        }
    }

    h1 {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0 0 0.25em 0;
        padding: 0;
        line-height: 1.2;
    }

    p {
        margin: 0;
        padding: 0;
    }

    time {
        font-size: 0.7em;
        display: block;
    }

    .domain,
    .expiration {
        font-size: 0.7em;
    }
}

.message.expired {
    background-color: #ccc;
    color: #666;
}

.message.selected .index {
    background-color: black;
    color: #fff;
}
