<header class="clearfix not-selectable">
    <div class="left">
        <notifier-connection-status></notifier-connection-status>
    </div>

    <notifier-topnav></notifier-topnav>
</header>

<main>
    <p class="app-message fade-out" ng-if="appMessage">{{ appMessage }}</p>

    <article class="message {{ message.badge }}" ng-class="{extended: message.extended, hidden: message.state === 'clearing'}" ng-repeat="message in queue.messages" ng-swipe-left="message.extended = true" ng-swipe-right="message.extended = false">
        <div class="options standard-options not-selectable" notifier-message-options public-id="{{message.publicId}}"></div>

        <div class="badge"></div>

        <h1 ng-show="message.title">
            <a ng-if="message.url" ng-href="{{ message.url }}" rel="noreferrer" target="_blank">{{ message.title }}</a>
            <span ng-if="!message.url">{{ message.title }}</span>
        </h1>
        <time datetime="{{ message.received | date:'yyyy-MM-ddTHH:mmZ' }}">
            {{ message.received | date:'h:mm a' }}
            {{ message.received | reldate | date: 'EEEE MMMM d' }}
        </time>
        <p ng-show="message.body" ng-bind-html="message.body"></p>
    </article>
</main>
