<main>
    <header class="page-header not-selectable">
        <notifier-connection-status></notifier-connection-status>
    </header>

    <p class="app-message fade-out" ng-if="appMessage">{{ appMessage }}</p>

    <article tabindex="0" class="message {{::message.badge}}" ng-class="{extended: message.extended, hidden: message.state === 'clearing'}" ng-repeat="message in queue.messages" ng-swipe-left="message.extended = true" ng-swipe-right="message.extended = false" ng-focus="message.focused = true" ng-blur="message.focused = false" notifier-focus="message.focused">

        <div class="badge"></div>

        <header>
            <h1 ng-show="message.title"> {{ message.focused }}
                <a ng-if="message.url" ng-href="{{::message.url}}" rel="noreferrer" target="_blank">
                    {{::message.title}}
                    <svg class="icon icon-external-link"><use xlink:href="#icon-external-link"></use></svg>
                </a>
                <span ng-if="!message.url">{{::message.title}}</span>
            </h1>
            <time datetime="{{::message.received | date:'yyyy-MM-ddTHH:mmZ'}}">
                {{::message.received | date:'h:mm a'}}
                {{::message.received | reldate | date: 'EEEE MMMM d'}}
            </time>
        </header>
        <p ng-show="message.body" ng-bind-html="message.body"></p>

        <div class="options standard-options not-selectable" notifier-message-options public-id="{{::message.publicId}}"></div>

    </article>
</main>

<footer notifier-bottomnav></footer>
