<ul class="app-settings" ng-show="settingsVisible">
    <li ng-hide="state.bn == 'unavailable'">
        <a tabindex="0" ng-click="enable('bn')" ng-href="">{{state.bn|symbolize}} Browser notifications</a>
    </li>
    <li>
        <a tabindex="0" ng-click="enable('webhook')" ng-href="">{{ state.webhook|symbolize}} Web hook</a>
    </li>
</ul>

<nav>
    <a ng-href="" ng-click="settings()" ng-hide="hideSettings">Settings</a>
    <a ng-href="" ng-click="clearAll()" ng-hide="hideClearAll">Clear All</a>
    <a ng-href="" ng-click="undo()" ng-hide="hideUndo">Undo</a>
    <a ng-href="" ng-click="logOut()">Log out</a>
</nav>
