<main>
    <form method="post" id="login-form" name="loginForm" ng-submit="submitLogin(loginForm)" novalidate>
        <fieldset>
            <h1>Hello</h1>
            <div class="field error" ng-show="message">{{ message }}</div>

            <div class="field">
                <label for="login_username">Username</label>
                <input type="text" name="login_username" ng-model="loginForm.username" autocorrect="off" autocapitalize="off" autofocus required />
            </div>

            <div class="field">
                <label for="login_password">Password</label>
                <input type="password" name="login_password" ng-model="loginForm.password" autocorrect="off" required />
            </div>

            <div class="field">
                <label for="login_remember" class="inline-label">
                    <input type="checkbox" ng-model="loginForm.remember" ng-checked="false" id="login_remember"/>
                    Stay logged in
                </label>
            </div>

            <div class="field">
                <button ng-disabled="progress" ng-class="{disabled: progress}">Sign in</button>
            </div>

            <p class="field" ng-show="progress">{{progress}}</p>
        </fieldset>
    </form>
</main>
