<main class="flex-parent stacked">
    <div class="flex-item">
        <notifier-status-bar></notifier-status-bar>
        <p class="app-message fade-out" ng-if="appMessage">{{ appMessage }}</p>
    </div>

    <div class="flex-item grow">
        <div ng-show="messageListVisible" ng-class="{columns: queue.messages.length > 1}">
            <a ng-href="{{message.url}}" rel="noreferrer" target="_blank" class="message {{message.badge}}" ng-class="{linked: message.url, expired: message.expired, focused: message.focused, extended: message.extended, stuck: message.state == 'stuck', hidden: message.state == 'clearing'}" ng-repeat="message in queue.messages" ng-swipe-left="message.extended = true" ng-swipe-right="message.extended = false" ng-focus="message.focused = true" ng-blur="message.focused = false" notifier-focus="message.focused">

                <div class="badge"></div>

                <header>
                    <h1 ng-show="message.title">
                        <svg ng-if="message.url" class="icon icon-external-link"><use xlink:href="#icon-external-link"></use></svg>
                        <span>{{message.title}}</span>
                    </h1>
                    <time datetime="{{::message.received | date:'yyyy-MM-ddTHH:mmZ'}}">
                        {{::message.received | date:'h:mm a'}}
                        <span ng-if="message.days_ago == 0">today</span>
                        <span ng-if="message.days_ago == 1">yesterday</span>
                        <span ng-if="message.days_ago == -1">tomorrow</span>
                        <span ng-if="message.days_ago > 1 || message.days_ago < -1">{{ message.received | date: 'EEEE MMMM d' }}</span>
                    </time>
                    <p class="expiration" ng-if="message.expiresAt">
                        Expires: {{ message.expiresAt | date: 'h:mm a' }}
                        <span ng-if="message.expire_days == 0">today</span>
                        <span ng-if="message.expire_days == 1">tomorrow</span>
                        <span ng-if="message.expire_days == -1">yesterday</span>
                        <span ng-if="message.expire_days > 1 || message.expire_days < -1">{{ message.received | date: 'EEEE MMMM d' }}</span>

                    </p>
		    <p class="domain" ng-if="message.domain">{{message.domain}}</p>
                </header>
                <p ng-show="message.body" ng-bind-html="message.body"></p>

                <div class="options standard-options" notifier-message-options public-id="{{::message.publicId}}"></div>

            </a>
        </div>
    </div>
    <div class="flex-item">
        <footer notifier-bottomnav></footer>
    </div>
</main>
