<div class="shortcut-summary flex-wrapper" ng-show="summaryVisible">
    <div class="background"></div>
    <div class="foreground">
        <h1>Keyboard Shortcuts</h1>
        <table>
            <tbody>
                <tr ng-repeat="shortcut in shortcuts track by $index" ng-if="shortcut.key">
                    <td>
                        <kbd>
                            <span ng-if="shortcut.shiftKey">⇧</span>
                            {{ ::shortcut.key }}
                        </kbd>
                    </td>
                    <td>{{ ::shortcut.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
